aiofiles==24.1.0
annotated-types==0.7.0
anyio==4.9.0
backoff==2.2.1
beautifulsoup4==4.13.4
blinker==1.9.0
blis==1.3.0
catalogue==2.0.10
certifi==2025.4.26
cffi==1.17.1
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.4.2
click==8.2.0
cloudpathlib==0.21.0
confection==0.1.5
cryptography==45.0.2
cymem==2.0.11
dataclasses-json==0.6.7
distlib==0.3.9
distro==1.9.0
durable_rules==2.0.28
emoji==2.14.1
et_xmlfile==2.0.0
filelock==3.18.0
filetype==1.2.0
Flask==3.1.1
flutter==0.1
fpdf==1.7.2
fsspec==2025.3.2
h11==0.16.0
html5lib==1.1
httpcore==1.0.9
httpx==0.28.1
identify==2.6.10
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
jiter==0.10.0
joblib==1.5.0
jsonpatch==1.33
jsonpointer==3.0.0
langchain==0.3.25
langchain-core==0.3.60
langchain-text-splitters==0.3.8
langcodes==3.5.0
langdetect==1.0.9
langsmith==0.3.42
language_data==1.3.0
llvmlite==0.44.0
lxml==5.4.0
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
mdurl==0.1.2
more-itertools==10.7.0
mpmath==1.3.0
murmurhash==1.0.12
mypy_extensions==1.1.0
nest-asyncio==1.6.0
networkx==3.4.2
nltk==3.9.1
nodeenv==1.9.1
numba==0.61.2
numpy==2.2.5
olefile==0.47
openai==1.79.0
openai-whisper==20240930
openpyxl==3.1.5
orjson==3.10.18
packaging==24.2
pandas==2.2.3
pdfminer.six==20250327
pdfplumber==0.11.6
pillow==11.2.1
platformdirs==4.3.8
pre_commit==4.2.0
preshed==3.0.9
psutil==7.0.0
pycparser==2.22
pydantic==2.11.4
pydantic_core==2.33.2
Pygments==2.19.1
PyMuPDF==1.25.5
pypdf==5.5.0
pypdfium2==4.30.1
python-dateutil==2.9.0.post0
python-iso639==2025.2.18
python-magic==0.4.27
python-oxmsg==0.0.2
python-pptx==1.0.2
pytz==2025.2
PyYAML==6.0.2
RapidFuzz==3.13.0
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
rich==14.0.0
shellingham==1.5.4
six==1.17.0
smart-open==7.1.0
sniffio==1.3.1
soupsieve==2.7
spacy==3.8.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.41
srsly==2.5.1
sympy==1.14.0
tenacity==9.1.2
thinc==8.3.6
tiktoken==0.9.0
torch==2.7.0
tqdm==4.67.1
typer==0.15.3
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
unstructured==0.17.2
unstructured-client==0.35.0
urllib3==2.4.0
virtualenv==20.31.2
wasabi==1.1.3
weasel==0.4.1
webencodings==0.5.1
-e git+https://github.com/hshukla4/wellness_hub.git@bd6ccc231d040024fef50f8fb8a36dacc361a3ad#egg=wellness_hub
Werkzeug==3.1.3
wrapt==1.17.2
XlsxWriter==3.2.3
zstandard==0.23.0
